include ../container/container

mixin about()
	+b.about
		+container()
			+e.wrap
				+e.text
					+e('p').paragraph Металлообработка в Нижнем Новгороде, Москве, Московской области – одно из основных направлений работы компании «АНТИС». Мы располагаем современным высокоточным
						| оборудованием, штатом квалифицированных специалистов, солидной материально-технической базой, поэтому можем
						| выполнить практически любые работы, связанные с обработкой металла.
					+e('p').paragraph Нашими специалистами также выполняется металлообработка деталей на заказ – мы можем доработать чертеж заказчика,
						| завершить все начатые работы. В нашем распоряжении имеется производственный цех со станками ЧПУ, на которых может быть выполнена обработка металлических деталей и изделий с высокой точностью.
					+e('strong').paragraph Мы гарантируем высокое качество предоставляемых услуг и изготавливаемых изделий и невысокую цену на услуги по металлообработки.
				+e.slider
					+e.slider-bg
					+e.slider-wrap
						+e('img').slide(src='./assets/images/slide.png')
						+e('img').slide(src='./assets/images/slide.png')
						+e('img').slide(src='./assets/images/slide.png')
						+e('img').slide(src='./assets/images/slide.png')
