.nav
	margin-bottom 6px
	display flex
	justify-content space-between
	align-items center
	max-width 500px
	flex-grow 1
	&__link
		font-family GMedium
		font-size 16px
		text-decoration none
		color #fff
