mixin nav()
	+b.nav
		+e.wrap
			+e('a').link(href='#') производство
			+e('a').link(href='#') продукция
			+e('a').link(href='#') услуги
			+e('a').link(href='#') отзывы
			+e('a').link(href='#') контакты
		+e.button
			span
