Bebas = BebasBold
GReg = GilroyRegular
GRegI = GilroyRegularItalic
GMedium = GilroyMedium
GSemi = GilroySemibold
Gbold = GilroyExtraBold

@font-face
  font-family BebasBold
  src url(../fonts/Bebas1/BebasNeueBold.woff)

@font-face
  font-family GilroyRegular
  src url(../fonts/Gilroy/GilroyRegular.woff)

@font-face
  font-family GilroyRegularItalic
  src url(../fonts/Gilroy/GilroyRegularItalic.woff)

@font-face
  font-family GilroyMedium
  src url(../fonts/Gilroy/GilroyMedium.woff)

@font-face
  font-family GilroySemibold
  src url(../fonts/Gilroy/GilroySemibold.woff)

@font-face
  font-family GilroyExtraBold
  src url(../fonts/Gilroy/GilroyExtrabold.woff)