extends ../blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/services/services
include ../blocks/about/about
include ../blocks/contacts/contacts
include ../blocks/footer/footer

block head
	- var pageTitle = 'Project Template';

block content
	+header()
	+services()
	+about()
	+contacts()
	+footer()
