include ../container/container

mixin services()
	+b('section').services
		+container()
			+e.wrap
				+e.block
					+e('img').block-img(src='./assets/images/icon-service1.png')
					+e('h3').block-title Лазерная резка
					+e('p').block-desc Лазерный раскрой нержавеющего, медного, латунного, углеродистого, алюминиевого листов, перфорация, гравировка, прорезка отверстий, пазов и т.д.
				+e.block
					+e('img').block-img(src='./assets/images/icon-service2.png')
					+e('h3').block-title Гибка
					+e('p').block-desc Процесс обработки листового металла, при котором заготовкам придается изогнутая форма, что обеспечивает полную монолитность деталей  без применения сварки
				+e.block
					+e('img').block-img(src='./assets/images/icon-service3.png')
					+e('h3').block-title Металлоконструкции
					+e('p').block-desc Применяется для изготовления многих изделий и металлоконструкций. Мы выполняем электросварку, газосварку и аргонно-дуговую сварку деталей любой сложности
				+e.block
					+e('img').block-img(src='./assets/images/icon-service4.png')
					+e('h3').block-title Покраска
					+e('p').block-desc Позволяет придать металлоконструкции финишный вид после всех видов металлообработки и защитить конструкцию от коррозии и других внешних воздействий
				+e.block
					+e('img').block-img(src='./assets/images/icon-service5.png')
					+e('h3').block-title Механообработка
					+e('p').block-desc Включает в себя токарные работы, фрезерные работы, расточные операции, сверление, нарезание резьбы
				+e.block
					+e('img').block-img(src='./assets/images/icon-service6.png')
					+e('h3').block-title Уплотнение
					+e('p').block-desc Важная операция по обработке металла. Специальная полиуретановая смесь распределяется по определенной траектории в виде окантовки
			+e.side-text
				span Более
				strong 2 894
				span довольных клиентов
