.footer
	position relative
	z-index 2
	padding 45px 0
	display block
	font-family GReg
	color #e9e9e9
	background-color #141414
	&__wrap
		display flex
		align-items flex-start
		+below(770px)
			flex-wrap wrap
			justify-content space-around
	&__logo
		width 70px
		object-fit contain
		+below(400px)
			display none
	&__menu
		margin-left 24px
		display flex
		flex-direction column
		+below(370px)
			margin-left 0
	&__menu-item
		margin-bottom 8px
		font-size 15px
		text-transform uppercase
		text-decoration none
		color #f8f8f8
	&__services
		margin-left 80px
		display flex
		flex-wrap wrap
		max-width 600px
		+below(1200px)
			margin-left 40px
			max-width 500px
		+below(770px)
			margin-top 30px
			order 2
		+below(370px)
			margin-left 0
	&__services-item
		margin-bottom 5px
		width 50%
		font-size 13px
		text-decoration none
		color #f8f8f8
	&__contacts
		display flex
		flex-direction column
		font-size 13px
		+below(770px)
			order 1
	&__contacts-item
		margin-bottom 15px
		display flex
		align-items flex-start
		img
			margin-right 10px
			size(15px)
			object-fit contain
		span
			display block
		p
			line-height 18px
