include ../container/container

mixin footer()
	+b('footer').footer
		+container()
			+e.wrap
				+e('img').logo(src='../assets/images/logo.png')
				+e.menu
					+e('a').menu-item(href='#') производство
					+e('a').menu-item(href='#') продукция
					+e('a').menu-item(href='#') услуги
					+e('a').menu-item(href='#') отзывы
					+e('a').menu-item(href='#') контакты
				+e.services
					+e('a').services-item(href='#') Металлообработка
					+e('a').services-item(href='#') Лазерная резка металла
					+e('a').services-item(href='#') Гибка металла
					+e('a').services-item(href='#') Изготовление металлоконструкций
					+e('a').services-item(href='#') Порошковая покраска металла
					+e('a').services-item(href='#') Механическая обработка металлов
					+e('a').services-item(href='#') Торцевые уплотнения металла
					+e('a').services-item(href='#') Сварочные работы
				+e.contacts
					+e.contacts-item
						img(src='../assets/images/icon-email.png')
						p project@crears.ru
					+e.contacts-item
						img(src='../assets/images/icon-place.png')
						p
							span 107061, г. Москва,
							span ул. Артема д. 20 оф.17
					+e.contacts-item
						img(src='../assets/images/icon-phone.png')
						p 8 800 555 35 35
